{
    "openapi": "3.1.0",
    "info": {
      "title": "Educational Management API",
      "version": "1.0.0",
      "description": "Comprehensive API for managing educational records, schools, students, and certificates in Imo State.",
      "contact": {
        "name": "Educational Management Team",
        "email": "support@edu-management.gov.ng"
      }
    },
    "servers": [
      {
        "url": "https://api.edu-management.gov.ng/v1",
        "description": "Production server"
      },
      {
        "url": "http://localhost:3000/api",
        "description": "Development server"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/auth/admin/login": {
        "post": {
          "tags": ["Authentication"],
          "summary": "Admin login",
          "description": "Authenticate admin user and return JWT token",
          "security": [],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["email", "password"],
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "admin@edu-management.gov.ng"
                    },
                    "password": {
                      "type": "string",
                      "minLength": 6,
                      "example": "securePassword123"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful authentication",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "token": {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "64f7a8b2e4b0c1234567890a"
                          },
                          "email": {
                            "type": "string",
                            "example": "admin@edu-management.gov.ng"
                          },
                          "role": {
                            "type": "string",
                            "example": "admin"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Invalid credentials",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      },
      "/schools": {
        "get": {
          "tags": ["Schools"],
          "summary": "Get all schools",
          "description": "Retrieve a list of all schools with optional filtering",
          "parameters": [
            {
              "name": "lga",
              "in": "query",
              "description": "Filter by Local Government Area",
              "schema": {
                "type": "string",
                "example": "Owerri North"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "default": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Items per page",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 20
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Schools retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/School"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": ["Schools"],
          "summary": "Create a new school",
          "description": "Register a new school in the system",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["schoolId", "name", "lga"],
                  "properties": {
                    "schoolId": {
                      "type": "string",
                      "example": "SCH001"
                    },
                    "name": {
                      "type": "string",
                      "example": "Government Secondary School Owerri"
                    },
                    "lga": {
                      "type": "string",
                      "example": "Owerri North"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "School created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "$ref": "#/components/schemas/School"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/certificates/bec": {
        "post": {
          "tags": ["Certificates"],
          "summary": "Upload BEC certificate results",
          "description": "Upload Excel file containing BEC certificate results",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "format": "binary",
                      "description": "Excel file (.xlsx or .xls)"
                    }
                  },
                  "required": ["file"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "File uploaded and processed successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Successfully imported all 150 records!"
                      },
                      "processedCount": {
                        "type": "integer",
                        "example": 150
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      },
      "schemas": {
        "School": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "64f7a8b2e4b0c1234567890a"
            },
            "schoolId": {
              "type": "string",
              "example": "SCH001"
            },
            "name": {
              "type": "string",
              "example": "Government Secondary School Owerri"
            },
            "lga": {
              "type": "string",
              "example": "Owerri North"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "example": "2024-09-16T10:30:00Z"
            }
          }
        },
        "Error": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "error": {
              "type": "string",
              "example": "Bad Request"
            },
            "message": {
              "type": "string",
              "example": "Invalid input data"
            }
          }
        }
      }
    }
  }